<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{friend.name}}">
  <ion-content class="padding">
    <img ng-src="{{friend.face}}" style="width: 100%; height: 64px">
    <p>
      {{friend.lastText}}
    </p>
    
        <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="activity in friend.activities" type="item-text-wrap">
        <h2>{{activity.note}}</h2>
        <p>{{activity.amount}}</p>
        
        <ion-option-button class="button-assertive" ng-click="removeActivity(activity)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

    
  </ion-content>
</ion-view>
