<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Coole App</div>
            <div class="item item-body">
                <div>
                    FIKA APP
                </div>
            </div>
        </div>


        <form ng-submit="createActivity(activity)">
            <div class="list">
                <div class="item">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Beschreibung</span>
                        <input type="text" placeholder="Beschreibung" ng-model="activity.text">
                      </label>
                </div>
                <div class="item">
                    <div class="list">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Bezahler
                            </div>
                            <select ng-model="activity.payer">
                                <option ng-repeat="friend in friends">
                                    {{friend.name}}
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="item">
                    <div class="list">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Empfänger
                            </div>
                            <select ng-model="activity.recipients">
                                <option ng-repeat="friend in friends">
                                    {{friend.id}}
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="item">
                    <div class="list">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Empfänger 2
                            </div> 
                            <select ng-model="activity.recipients2">
                                <option ng-repeat="friend in friends">
                                    {{friend.name}}
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="item">
                    <label class="item item-input">
                      <span class="input-label">Betrag</span>
                      <input type="number" ng-model="activity.amount">
                    </label>
                </div>


                <button type="submit" class="button button-block button-positive">
                    Create Activity
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>